http {
    upstream myapp1 {
        192.168.50.5 box1.dev;
        192.168.50.6 box2.dev;
        192.168.50.5 box3.dev;
    }

    server {
        listen       80;
        listen       [::]:80;
        server_name  _;
        root         /usr/share/nginx/html;
    
        # Load configuration files for the default server block.
        #include /etc/nginx/*.conf;

        location / {
            proxy_pass http://myapp1;
        }

        error_page 404 /404.html;
            location = /40x.html {
        }

        error_page 500 502 503 504 /50x.html;
            location = /50x.html {
        }
    }
}
